<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <%- include('../partials/main.ejs') %>
    </main>
    <script src="../js/app.js"></script>
</body>
</html>